In [2]:
import numpy as np
import pandas as pd

# Data Cleaning & Feature Engineering

In [63]:
df_tags = pd.read_csv(r"E:\data-science-journey\movie-recommender-system\data\raw-data\tags.csv")

In [64]:
df_tags.head()

   userId  movieId          tag   timestamp
0      22    26479  Kevin Kline  1583038886
1      22    79592     misogyny  1581476297
2      22   247150   acrophobia  1622483469
3      34     2174        music  1249808064
4      34     2174        weird  1249808102

In [65]:

import re
df_tags['tag'] = df_tags['tag'].astype(str)  # Ensure all values are strings
df_tags['tag'] = df_tags['tag'].apply(lambda x: re.sub(r'[^a-zA-Z0-9]', '', x))

In [66]:
df_tags.sample(10)

         userId  movieId                        tag   timestamp
1351493   81940     2959                  satirical  1448702895
1803626  143964     2324                OscarWinner  1373983414
615231    78213      410        siblingrelationship  1528513425
206354    28882      541                   assassin  1246534048
414543    56780   162414                        gay  1500826877
1238763   78213   183843                  bluelight  1614741384
696404    78213     2478  unitedstatesmexicobarrier  1528513113
1236027   78213   182091                   infantry  1526621386
80323     11089     1959                 historical  1678389410
242206    32486   109487           thoughtprovoking  1585410443

In [67]:


df_grouped = df_tags.groupby('movieId')['tag'].apply(lambda x: '|'.join(x.astype(str))).reset_index()
df_grouped.columns = ['movieId', 'combined_tags']

In [68]:
df_grouped.sample(10)

       movieId                                      combined_tags
18880   106098             history|Islam|religion|science|youtube
9035     31101  Underrated|Africa|anomie|colonialism|Africa|co...
11171    54326                 Colombia|LatinAmerica|SouthAmerica
8512     26675  baseball|carcrash|drinking|gangster|gore|gun|i...
16396    91906                           bloggers|romaniannewwave
35093   163613                                      breastfeeding
9311     32627  SylvesterStallone|countrymusic|musicians|music...
26138   134113                                   campy|cheeseball
17091    96415  apocalypse|doomsday|Anthology|apocalypse|dooms...
45057   200256  TimBurton|toolong|1910s|adventure|badcgi|circu...

In [69]:
df_movies = pd.read_csv(r"E:\data-science-journey\movie-recommender-system\data\raw-data\movies.csv")

In [70]:
df_movies['genres'] = df_movies['genres'].astype(str)
df_movies['genres'] = df_movies['genres'].apply(lambda x: re.sub(r'[^a-zA-Z0-9|]', '', x))

In [72]:
df_movies.sample(10)

       movieId                               title                     genres
86279   288133  The Professional Bridesmaid (2023)             Comedy|Romance
11441    51575                    Wild Hogs (2007)           Adventure|Comedy
60841   201875                  Running Red (2000)  Action|Adventure|Thriller
65039   211726         Escape from Pretoria (2020)                   Thriller
33377   142472             Kebab Connection (2004)      Action|Comedy|Romance
5293      5400        Sum of All Fears, The (2002)             Drama|Thriller
40685   159115            Chongqing Hot Pot (2016)                      Drama
24244   120928                      Lullaby (2014)                      Drama
36701   150080                        Bingo (2013)                     Comedy
65929   213804                The Boogeyman (1982)               Drama|Horror

In [73]:


merged_df = pd.merge(df_movies, df_grouped, on='movieId', how='inner')

merged_df['final_tags'] = merged_df['genres'].astype(str) + '|' + merged_df['combined_tags'].astype(str)

merged_df = merged_df[['movieId', 'title', 'final_tags']]

In [74]:
merged_df.sample(10)

,movieId,title,final_tags
10921,51931,Reign Over Me (2007),Drama|acting|adamsandler|DonCheadle|sad|comedy...
32245,154790,The Teasers (1975),Comedy|eroticmovie|exhibitionism|exhibitionist...
9369,32941,"Self-Made Hero, A (Un héros très discret) (1996)",Comedy|Drama|France|FrenchFilm|WorldWarII|anti...
37899,171759,The Beguiled (2017),Drama|Thriller|Western|americancivilwar|CivilW...
7048,7727,Protocol (1984),Comedy|politics|BDR|Betamax|GoldieHawn
8014,25884,My Favorite Blonde (1942),Comedy|Romance|Thriller|BobHope|MadelineCarrol...
15998,89898,Generation P (2011),Comedy|Drama|SciFi|conspiracy|drugs|Russia|adv...
3983,4323,"Horse Soldiers, The (1959)",Adventure|War|Western|cavalry|confederate|stan...
33514,158914,Perfect on Paper (2014),Comedy|Romance|losangeles|publisher
22237,121797,The Old Maid (1939),Drama|tivo20|BetteDavis|DonaldCrisp|friendship...

In [75]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51323 entries, 0 to 51322
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     51323 non-null  int64
 1   title       51323 non-null  object
 2   final_tags  51323 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [76]:
merged_df['final_tags'] = merged_df['final_tags'].astype(str).str.replace('|', ' ', regex=False)

In [77]:
merged_df['final_tags'] = merged_df['final_tags'].str.lower()

In [78]:
merged_df.sample(10)

,movieId,title,final_tags
31601,152467,Venomous (2002),horror scifi desert mutation smalltown snake v...
27085,137224,China Gate (1957),action thriller war vietnamwar
10873,51457,Iraq in Fragments (2006),documentary war iraq iraqwar islam middleeast ...
47786,226758,The Witches (2020),adventure children comedy fantasy horror anneh...
30700,149360,Pleasure Factory (2007),action adventure drama romance independentfilm...
39199,175989,Nude on the Moon (1961),comedy fantasy scifi exploitation independentf...
50799,281002,Devotion (2022),drama war americanabroad blackandwhite heroism...
50251,272483,The Bubble (2022),comedy cancelculture covid19 dinosaur dinosaur...
17486,98346,Excuse My Dust (1951),comedy musical inventor musical bdr
40601,180415,Amok (2017),crime thriller detective murder

In [80]:
merged_df['final_tags'][1]

'adventure children fantasy robinwilliams fantasy robinwilliams timetravel animals childhoodrecaptured herdsofcgianimals kirstendunst robinwilliams boardgame comedy endlessscreaming kidflick animals badcgi boardgame fantasy kidflick robinwilliams scary timetravel fiction timetravel newengland fantasy joejohnston robinwilliams robinwilliams timetravel jungle badcgi boring kirstendunst robinwilliams animals badcgi boardgame fantasy robinwilliams timetravel game boardgame family fantasy fiction robinwilliams scary timetravel robinwilliams timetravel lebbat robinwilliams robinwilliams timetravel robinwilliams timetravel adventure classic fantasy kidflick robinwilliams adventure fantasy fantasy badcgi kidflick robinwilliams fantasy animals boardgame children fantasy kirstendunst robinwilliams timetravel dynamiccgiaction animals badcgi basedonabook boardgame chrisvanallsburg animals basedonabook fantasy magicboardgame monkey notforkids robinwilliams scary timetravel adventure boardgame comedy family fantasy fiction robinwilliams scary timetravel adventure animals boardgame fantasy robinwilliams timetravel fantasy magicboardgame robinwilliams badcgi kidflick robinwilliams adaptedfrombook childish children kidflick timetravel robinwilliams 1860s 1960s 1990s 19thcentury 20thcentury abandonedfactory actorplayingmultipleroles adventurer alteringhistory alternatetimeline animalattack animaldrivingacar animaldrivingavehicle animalkilling animatronic apology arachnid arrest attic auntnephewrelationship auntniecerelationship axe basedonchildrensbook basedonnovel basedonyoungadultnovel bat beach beardedman beatup bicycle bicyclechase biggamehunter blackeye blockbuster blondechild blondewoman bloodylip blunder blunderbuss board boardgame boardingschool boy breakingthefourthwall bridge brochure brothersisterrelationship brownhairedboy bug bullettime bully bum businessman canoe car caraccident carcrash carcrashesintoastore cartheft carthroughwall carnivore carnivorousplant cemetery cgi cgianimal cgieffect chaos chest child childinjeopardy childturningintoanimal childhood christmas christmasparty christmaspresents columbiatristar columbiatristarhomevideo comingofage competition confession constructionsite convertible conveyorbelt courage crackedwindshield crawler critter crocodile cultclassic cultfilm cuttingfacewhileshaving cuttingonesownhair danger dice disappearance discountstore drivingacarintoabuilding drivingwithoutalicense drumbeat dybbukbox earthquake elephant excavation explorer exterminator factory fainting familylegacy familyname fathersonrelationship feline fib fictionalboardgame fight firearm fireplace firstlove firstofseries firstpart fishoutofwater flood footwear forest fortuneteller franchise friendswholivetogether friendship game gamepiece giantinsect girl grounded gun gunstore hacksaw handcuffed handcuffs handgun heavyrain heldatgunpoint hidinginacloset hitbyacar homelessperson hostagesituation humanbecomingananimal humanhuntingahuman hunter illegalgunsale impersonatingapoliceofficer improvisedweapon insectattack investmentbanker jumanji jungle jungleadventure jungleman lace laundrydetergent lawenforcementofficer leaf library liftingsomeoneintotheair lion liveactionandanimation longhairedfemale longhairedgirl longhairedwoman lookingthroughakeyhole looting lossofparents lush magic malehunter malepoliceofficer maleprotagonist mansion missingchild monkey monsoon mosquito motherdaughterrelationship mothersonrelationship motorvehicle motorcycle motorcyclepoliceofficer moving multipleversionsofthesamecharacter mustachedman mutation namesake nemesis nervousbreakdown newhampshire newhome night nighttime noopeningcredits oldphotograph olderversionofcharacter onewordtitle orchestralmusicscore orphan overalls paintcan partcomputeranimation partner pelican perilousescape personthoughtdeadisalive pigtails plant plantattack playingaboardgame poison poisonivy police policecar policeofficer policevehicle predator predatorprey predatoryreptile pregnantwoman presumeddead prologue psychiatrist psychotronicfilm quadruped quicksand rain rainforest rampage realestateagent realtor recluse referencetoahoroscope referencetoazodiacsign referencetocluetheboardgame referencetolibratheconstellation referencetoringlingbrothers referencetotarzan referencetothetwilightzone referencetowiltchamberlain refrigerator reptile returntothepast revolver rhinoceros richfamily rifle river rollingdice santaclauscostume sayingthankyou screenplayadaptedbyauthor shareduniverse shoefactory shoes shotgun sidearm smalltown sneaker sniperrifle snob spider spiderattack sportinggoodsstore squatter stampede statue stealingabicycle subtitledscene suitcase supernaturalfantasy supernaturalpower surpriseending surrealism tail timelapsephotography timetravel timelinechange tire titledirectedbymale titledirectedbyman titlesameasbook titlespokenbycharacter titlewrittenbymale transportedbackintime trappedinagame trombone turningintoamonkey tweengirl underwaterscene vandalism vegetation vehicle viewthroughriflescope vine violence vortex weapon wisecrackhumor wonderbread wood woodenchest woodland zebra family kidflick robinwilliams timetravel adventure family horrifyingbutnothorrorgenre robinwilliams scary fantasy timetravel kirstendunst robinwilliams boardgame timetravel kidflick badcgi fantasy boardgame robinwilliams clv monkey animals badcgi horrifyingbutnothorrorgenre kirstendunst magicboardgame monkey notforkids animals fantasy jungle robinwilliams robinwilliams children fantasy robinwilliams adventure family fantasy kids magicboardgame robinwilliams fantasy robinwilliams scary timetravel basedonabook kirstendunst littlegirl children kidflick boardgame fantasy robinwilliams boardgame fantasy robinwilliams timetravel fantasy robinwilliams badcgi robinwilliams adventure animals badcgi boardgame comedy family fantasy fiction heartwarming horrifyingbutnothorrorgenre kidflick magicboardgame robinwilliams scary timetravel adventure badcgi boardgame kidflick robinwilliams scary timetravel adventure animals boardgame fantasy fiction magicboardgame robinwilliams timetravel robinwilliams robinwilliams fantasy fantasy robinwilliams fantasy robinwilliams adventure animals boardgame family fantasy fiction robinwilliams timetravel fantasy kidflick timetravel adventure comedy boardgame fantasy kidflick monkey robinwilliams itaege forchildren adaptedfrombook animals badcgi basedonabook boardgame childhoodrecaptured children chrisvanallsburg fantasy filmedinbc jungle kidflick kirstendunst monkey robinwilliams saturnawardbestspecialeffects saturnawardbestsupportingactress scary time timetravel 4k robinwilliams boardgame robinwilliams badcgi horrifyingbutnothorrorgenre notforkids robinwilliams scary'

In [81]:
df_links = pd.read_csv(r"E:\data-science-journey\movie-recommender-system\data\raw-data\links.csv")

In [82]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [83]:
df = pd.merge(merged_df, df_links, on='movieId', how='inner')

In [84]:
df.head()

,movieId,title,final_tags,imdbId,tmdbId
0,1,Toy Story (1995),adventure animation children comedy fantasy ch...,114709,862.0
1,2,Jumanji (1995),adventure children fantasy robinwilliams fanta...,113497,8844.0
2,3,Grumpier Old Men (1995),comedy romance comedinhadevelhinhosengraada co...,113228,15602.0
3,4,Waiting to Exhale (1995),comedy drama romance characters slurs basedonn...,114885,31357.0
4,5,Father of the Bride Part II (1995),comedy fantasy pregnancy remake family stevema...,113041,11862.0

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51323 entries, 0 to 51322
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   movieId     51323 non-null  int64
 1   title       51323 non-null  object
 2   final_tags  51323 non-null  object
 3   imdbId      51323 non-null  int64
 4   tmdbId      51274 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.0+ MB

In [86]:
df = df.rename(columns={'movieId': 'movie_id'})
df = df.rename(columns={'final_tags': 'tags'})
df = df.rename(columns={'imdbId': 'imdb_id'})
df = df.rename(columns={'tmdbId': 'tmdb_id'})

In [87]:
df.head()

,movie_id,title,tags,imdb_id,tmdb_id
0,1,Toy Story (1995),adventure animation children comedy fantasy ch...,114709,862.0
1,2,Jumanji (1995),adventure children fantasy robinwilliams fanta...,113497,8844.0
2,3,Grumpier Old Men (1995),comedy romance comedinhadevelhinhosengraada co...,113228,15602.0
3,4,Waiting to Exhale (1995),comedy drama romance characters slurs basedonn...,114885,31357.0
4,5,Father of the Bride Part II (1995),comedy fantasy pregnancy remake family stevema...,113041,11862.0

In [89]:
df = df.dropna(subset=['tmdb_id'])
df['tmdb_id'] = df['tmdb_id'].astype('int64')

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51274 entries, 0 to 51322
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  51274 non-null  int64
 1   title     51274 non-null  object
 2   tags      51274 non-null  object
 3   imdb_id   51274 non-null  int64
 4   tmdb_id   51274 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.3+ MB

In [91]:
df.sample(30)

,movie_id,title,tags,imdb_id,tmdb_id
21356,118191,Great Expectations (1934),drama romance charlesdickens orphan,25202,170582
31484,152109,Carry On Up The Jungle (1970),comedy africa jungle,65525,17276
24906,130600,Guess What We Learned in School Today? (1971),comedy counterculture freelove sex,65802,276410
31850,153328,Smoke and Flesh (1968),drama drugs marijuana orgy sex voyeurism,63616,89757
34,35,Carrington (1995),drama romance polyamory entirelydialogue artis...,112637,47018
7218,8019,Dark Water (Honogurai mizu no soko kara) (2002),drama horror mystery thriller remade atmospher...,308379,12205
43054,187953,Holy Ghost (2014),documentary christanity god holyspirit superna...,3747978,285434
33576,159091,The Last Straight Man (2014),comedy drama romance gay lgbt,2609778,319017
6172,6634,Rowing with the Wind (Remando al viento) (1988),drama romance lordbyron periodpiece,93840,80047
8430,26495,Yellowbeard (1983),action adventure comedy pirates petercook pris...,86618,11609
32197,154612,Crulic - The Path to Beyond (2011),animation documentary biography prison womandi...,1996223,147698
30128,147356,Trophy Heads (2014),comedy horror nuditytopless abduction acid arr...,3765892,296121
894,991,Michael Collins (1996),drama ireland juliaroberts ireland ireland ire...,117039,1770
37499,170551,The Quiet Family (1998),comedy comedy darkcomedy horrorcomedy guesthou...,188503,74336
19340,108968,"Betrayed (True and the Brave, The) (1954)",drama romance thriller war nazispy worldwarii,46770,83665
26246,134495,"Paolo Barca, maestro elementare, praticamente ...",nogenreslisted sexcomedy,192427,279568
42569,186455,The Colt (2005),children drama war americancivilwar battle civ...,416654,14973
21789,120292,Bird People (2014),drama fantasy romance womandirector,2368635,266040
20641,115692,Blindfold (1965),comedy romance thriller coldwar kidnapping new...,58977,169066
3336,3642,In Old California (1942),western goldrush pharmacist sacramento,34889,40685
35453,164633,Betty Boop's Penthouse (1933),animation comedy precode,23803,161863
45126,200920,Les Charlots contre Dracula (1980),comedy fantasy castle dracula kidnapping looka...,194748,78564
21593,119305,The Nutcracker Prince (1990),adventure animation children fantasy 2danimati...,100281,13759
42819,187171,The Swindlers (2017),crime drama crook,7243686,478187
12569,68028,What Doesn't Kill You (2008),crime drama drugaddiction friends heist infide...,1133991,15801
9738,37477,"Man, The (2005)",action comedy crime samuelljackson samuelljack...,399327,9074
19607,110259,"Town Called Hell, A (1971)",action comedy drama western spaghettiwestern,67870,65674
34403,161624,Tricked (2012),drama nuditytoplessnotable blackmail corporate...,2171875,140894
33232,158049,Rio 2096: A Story of Love and Fury (2013),animation drama romance animation brazilian gr...,2231208,173443
7572,8676,Fist of the North Star (1995),action thriller basedonananime lowbudget posta...,113074,26300

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51274 entries, 0 to 51322
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  51274 non-null  int64
 1   title     51274 non-null  object
 2   tags      51274 non-null  object
 3   imdb_id   51274 non-null  int64
 4   tmdb_id   51274 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.3+ MB

In [93]:
df.shape

(51274, 5)

In [ ]:
# df.to_csv('processed_dataset.csv', index=False)

In [5]:
df = pd.read_csv(r"E:\data-science-journey\smart-movie-recommender-system\data\processed-data\processed_dataset.csv")

# Model Building & Vectorization

In [6]:
import nltk

In [7]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [8]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [6]:
df['tags'].apply(stem)

0        adventur anim children comedi fantasi children...
1        adventur children fantasi robinwilliam fantasi...
2        comedi romanc comedinhadevelhinhosengraada com...
3        comedi drama romanc charact slur basedonnovelo...
4        comedi fantasi pregnanc remak famili stevemart...
                               ...
51269    nogenreslist cadaqu catalonia china housingest...
51270                   comedi horror politicallyincorrect
51271                              fantasi horror stephenk
51272                      horror scifi artificialintellig
51273    documentari documentaryfilmmak familyrelationship
Name: tags, Length: 51274, dtype: object

In [9]:
df['tags'] = df['tags'].apply(stem)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1250,stop_words='english')

In [11]:
vectors = cv.fit_transform(df['tags']).toarray()

In [13]:
print(vectors.dtype)

int64

In [21]:
vectors = vectors.astype("float32")

In [22]:
vectors.shape

(51274, 1250)

In [23]:
vectors[0]

array([0., 0., 0., ..., 0., 0., 0.], shape=(1250,), dtype=float32)

In [24]:
cv.get_feature_names_out()

array(['007', '18thcenturi', '1920', ..., 'wwii', 'zombi',
       'zooeydeschanel'], shape=(1250,), dtype=object)

In [25]:
from sklearn.neighbors import NearestNeighbors

# Step 1: Fit the NearestNeighbors model (once only)
nn_model = NearestNeighbors(metric='cosine', algorithm='brute')  
nn_model.fit(vectors)

# Step 2: Define the recommend function
def recommend(movie):
    # Get index of the movie
    index = df[df['title'] == movie].index[0]
    
    # Reshape the vector to match input shape (1, -1)
    movie_vector = vectors[index].reshape(1, -1)
    
    # Step 3: Query the model for nearest neighbors (excluding the movie itself)
    distances, indices = nn_model.kneighbors(movie_vector, n_neighbors=6)  # 1 input + 5 recommendations
    
    print(f"Top 5 recommendations for '{movie}':")
    for i in indices[0][1:]:  # skip the first one (it's the movie itself)
        print(df.iloc[i].title)

In [26]:
recommend('Sex and the City (2008)')

Top 5 recommendations for 'Sex and the City (2008)':
Bed of Roses (1996)
Touched With Fire (2015)
Devil Wears Prada, The (2006)
Путь к себе (2010)
Raising Helen (2004)

# Exporting the Model
Here we choosen Nearest Neighbors

In [15]:
import pickle

In [ ]:
pickle.dump(df, open('df.pkl', 'wb'))
pickle.dump(nn_model, open('nn_model.pkl', 'wb'))

In [16]:
pickle.dump(cv, open('cv.pkl', 'wb'))

In [27]:
import joblib
joblib.dump(nn_model, "nn_model_compressed.pkl", compress=3)

['nn_model_compressed.pkl']